# Pyhton
__pycache__/

# Mac
.DS_Store

# VSCode
.vscode/

# Files
draft.py

# Report
report/screenshots/
*.docx

source/utility

source/lab8/data
source/lab8/data_preprocessing.py
source/lab8/main.py
source/lab8/USA_Housing.csv